@import '@assets/_mandatory';

.pressureGauge {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 40px;
    width: 40px;
    background-color: aquamarine;
    border-radius: 100%;
    transition: .2s transform ease-in-out;
    opacity: 0;
}

.link-before {
    position: absolute;
    bottom: 5%;
    left: 2%;
}

