@import "../../../../assets/mandatory";


.layout {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
    margin: auto;
    text-align: center;
    color: $color-black;
    &_inner {
        width: 100%;
        height: 100vh;
        margin: 0 auto;
        > div {
            height: 100%;
        }
    }
}

.page {
}
