.colorPickerContainer  {
    position: absolute;
    content: "";
    height: 50px;
    width: 50px;
    left: 0;
    top: 0;
    
    .colorPickerInner {
        height: 100%;
        width: 100%;
        border-radius: 100%;
        border: 1px solid red;
        transform: scale(0.8);
        transition: border-color 1s ease-in-out, transform 1s ease-in-out;
        &[data-color-cursor = "default"] {
            border-color: red;
        }
        &[data-color-cursor = "green"] {
            border-color: green;
        }
        &[data-color-cursor = "purple"] {
            border-color: purple;
        }
        &[data-color-cursor = "white"] {
            border-color: white;
        }
    }
}