@import "@assets/_mandatory";

.tool-choice {
    &_container {
        position: absolute;
        top: 0;
        right: 0;
        max-width: 230px;
        width: 100%;
    }
    &__inner {
        .head {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin-bottom: 10px;
            li {
                list-style: none;
                button {
                    position: relative;
                    width: 60px;
                    height: 60px;
                    cursor: pointer;
                    border: none;
                    img {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                & + li {
                    padding-left: 10px;
                }
            }
        }
        .content {
            padding: 10px;
            background-color: rgba($color-white, 0.8);
            
            h2 {
                font-size: 15px;
                font-weight: $ft-normal;
                margin-bottom: 20px;
                span {
                    font-size: 17px;
                    margin-top: 5px;
                    font-weight: $ft-bold;
                }
            }
            &-display {
                overflow: hidden;
                height: 0;
                background-color: transparent;
                &.open {
                    height: 100%;
                }
            }
        }

        .open-button {
            padding: 10px;
            width: 100%;
            // height: 30px;
            border: none;
            background-color: rgba($color-white, 0.8);
            cursor: pointer;
            i {
                padding: 0 10px;
                &.rotate {
                    transform: rotate(-180deg);
                }
            }
        }
    }
}
