.tool-choice_container {
    height: 90px;
    width: 90px;
    position: relative;

    &__inner {
        height: 75px;
        width: 75px;

        background-color: #254EDA;

        border: 2px solid #254EDA;
        border-radius: 10px;

        position: absolute;
        bottom: 0;

        display: flex;
        justify-content: center;
        align-items: center;

        transition: .3s all ease-in-out;

        cursor: pointer;

        img {
            width: 50%;
        }

        &:hover {
            background-color: #f3f3f3;

        }
    }

    &__plus-info {
        height: 30px;
        width: 30px;

        background-color: #728BD7;

        border: 2px solid #728BD7;

        border-radius: 3px;

        position: absolute;
        top: 0;
        right: 0;

        transition: .3s all ease-in-out;

        cursor: pointer;

        &___vertical-bar {
            height: 80%;
            width: 2px;

            background-color: #ffffff;

            position: absolute;
            left: 50%;
            top: 50%;

            transform: translate(-50%, -50%);

        }

        &___horizontal-bar {
            height: 2px;
            width: 80%;

            background-color: #ffffff;

            position: absolute;
            left: 50%;
            top: 50%;

            transform: translate(-50%, -50%);
        }

        &:hover {
            background-color: #ffffff;

            .tool-choice_container__plus-info___vertical-bar {
                background-color: #728BD7;
            }
            .tool-choice_container__plus-info___horizontal-bar {
                background-color: #728BD7;
            }
        }
    }
}