@import "@assets/_mandatory";

.volumeContainer {
    position: absolute;
    background-color: transparent;
    bottom: 0;
    right: 0;
    height: 40px;
    width: 40px;
    border-radius: 7.5px;
    margin: 30px;
    // border: 1px solid #c4c4c4;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s all ease-in-out;

    &.isNotAbsolute {
        position: static;

        margin-left: auto;
    }

    &:hover {
        background-color: transparent;
        // border: 1px solid #254eda;

        .volumeSlider {
            opacity: 1;
        }
    }

    .volumeSlider {
        position: absolute;
        top: -60px;
        width: 75px;
        transform: rotate(-90deg);
        opacity: 0;
        transition: 0.3s all ease-in-out;
        .slider {
            -webkit-appearance: none;
            // border-radius: 20px;
            appearance: none;
            width: 100%;
            height: 10px;
            background-color: $color-white;
            outline: none;
        }
        &.noir {
            .slider {
                background-color: $color-white;
                border: 1px solid $color-black;
            }
            .slider::-webkit-slider-thumb {
                background: $color-black;
            }
        }

        .slider::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 10px;
            height: 10px;
            //transform: scale(attr(data-volume) /);
            background: $color-black;
            cursor: pointer;
        }

        .slider::-moz-range-thumb {
            width: 10px;
            height: 10px;
            background: #254eda;
            cursor: pointer;
        }
    }

    .sound-container {
        position: relative;
        width: 40px;
        height: 40px;
        cursor: pointer;
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
