.subtitle_container {
    padding: 10px 15px;
    border: 1px solid slateblue;
    position: absolute;
    bottom: 50px;
    left: 50%;
    opacity: 0;
    transform: translateY(50px);
    transition: 1s all ease-in-out;

    &.appear {
        transform: translateY(0);
        opacity: 1;
    }

    &.notVisible {
        opacity: 0;
        transform: translateY(50px);
    }
}