@import '@assets/_mandatory';

  .subtitle_container {
    position: absolute;
    bottom: 30px;

    width: 100vw;

    // background-color: rgba($color: #000000, $alpha: .4);
    //background-color: red;

    &__subtitle {
        width: 40%;

        position: relative;
        left: 50%;
        transform: translateX(-50%);

        text-align: center;

        transition: 1s all ease-in-out;

        font-size: 18px;
        line-height: 1.5;

        color: rgba($color: $color-white, $alpha: 1);
        
        z-index: 1;

        opacity: 0;


        &.appear {
            opacity: 1;
        }

    }

    &__replay-button {
        position: absolute;
        right: 100px;
        bottom: 0;
        
        height: 40px;
        width: 40px;

        background-color: transparent;
        border: transparent;

        border-top: 2px solid transparent;
        border-right: 2px solid transparent;
        border-bottom: 2px solid transparent;

        cursor: pointer;
        
        z-index: -1;

        display: flex;
        align-items: center;
        justify-content: center;

        pointer-events: none;

        transition: .8s all ease-in-out;

        img {
            width: 90%;
        }

        &:hover {
            border-top: 2px solid rgba($color: $color-white, $alpha: .5);
            border-right: 2px solid rgba($color: $color-white, $alpha: .5);
            border-bottom: 2px solid rgba($color: $color-white, $alpha: .5);
            background-color: rgba($color: $color-white, $alpha: .1);
            p {
                opacity: 1;
            }
        }

        p {
            position: absolute;
            right: 38px;
            transition: .8s all ease-in-out;

            width: 180px;
            height: 40px;

            display: flex;
            align-items: center;
            justify-content: center;

            border-top: 2px solid rgba($color: $color-white, $alpha: .5);
            border-left: 2px solid rgba($color: $color-white, $alpha: .5);
            border-bottom: 2px solid rgba($color: $color-white, $alpha: .5);

            color: $color-white;

            background-color: rgba($color: $color-white, $alpha: .1);

            opacity: 0;
        }

        &.repeat {
            border-top: 2px solid rgba($color: $color-white, $alpha: .5);
            border-right: 2px solid rgba($color: $color-white, $alpha: .5);
            border-bottom: 2px solid rgba($color: $color-white, $alpha: .5);
            background-color: rgba($color: $color-white, $alpha: .1);
            p {
                opacity: 1;
            }
        }

        &.show {
            border-top: 2px solid rgba($color: $color-white, $alpha: .5);
            border-right: 2px solid rgba($color: $color-white, $alpha: .5);
            border-bottom: 2px solid rgba($color: $color-white, $alpha: .5);
            background-color: rgba($color: $color-white, $alpha: .1);
            p {
                opacity: 1;
            }
        }

        &.visible {
            z-index: 10;
            pointer-events: all;
        }
    }

    

    // &.appear {
    //     opacity: 1;
    // }

    // &.notVisible {
    //     opacity: 0;
    //     transform: translateY(50px);
    // }
}
