@import "@assets/_mandatory";

.breadcrumb {
  &_container {
    position: absolute;
    top: 30px;
    left: 35px;
    max-width: 220px;
    width: 100%;
    height: 60px;
    transition: 0.5s ease-in all;
    background: radial-gradient(rgba($color-white, 0.9), transparent 80%);
    // padding: 20px;
    // Je gère le current ici
    @for $i from 1 through 6 {
      &[data-step="#{$i}"] {
        .breadcrumb__inner {
          ul {
            :nth-child(#{$i}) {
              transform: scale(1.7);
              transition: 0.5s ease-in all;
            }
          }
        }
      }
    }
  }

  &__inner {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: flex-start;
    width: 100%;
    height: 100%;

    h2 {
      // text-transform: uppercase;
      font-family: $font-title;
      color: $color-black;
      text-align: left;
    }

    ul {
      position: relative;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $color-black;
      }

      li {
        z-index: 1;
        list-style: none;
        background-color: $color-black;
        width: 8px;
        height: 8px;
      }
    }
  }
}
