@import "../../../assets/mandatory";

.breadcrumb {
  &_container {
    position: absolute;
    top: 20px;
    left: 20px;
    max-width: 350px;
    width: 100%;
    height: 110px;
    background-color: $color-grey-100;
  }

  &__inner {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 15px;

    h2 {
      text-transform: uppercase;
      color: $color-black;
      font-size: 20px;
    }

    ul {
      position: relative;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $color-white;
      }

      // @for $i from 1 through 10 {
      //   &[data-length="#{$i}"] {
      //     li {
      //       width: calc((100% / #{$i}) - 40px);
      //     }
      //   }
      // }

      li {
        z-index: 1;
        list-style: none;
        // margin: 0 20px;
        background-color: $color-white;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        &.actived {
          width: 40px;
          height: 40px;
          background-color: $color-white;
        }
        // a {
        //   cursor: pointer;
        //   width: 100%;
        //   height: 100%;
        //   background-color: lightcoral;
        // }
      }
    }
  }
}
