@import "@assets/_mandatory";

.page-fin {
    position: relative;
    padding: 40px 35px;

    &_container {
        height: 100%;

        .head {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            h1 {
                font-family: "OpenSansRegular";
                font-size: 15px;
                text-transform: uppercase;
                span {
                    font-family: "OpenSansBold";
                }
            }
        }
        .footer {
            .link-before {
                position: absolute;
                bottom: 50px;
                left: 35px;
                z-index: 1;
            }
        }

        .sliders {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: calc(100% - 120px);
            background-color: green;

            :global {
                .slick-slider {
                    background-color: blue;
                    display: flex;
                    flex-flow: row wrap;
                    align-items: center;
                    justify-content: center;
                    width: 50%;

                    .slick-list {
                        display: flex;
                        flex-flow: row wrap;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                    }

                    // .slick-track {
                    //     display: flex;
                    // }

                    // .slick-track {
                    //     display: flex;
                    // }

                    .slick-dots {
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                    .slick-arrow {
                        display: none !important;
                    }
                }
            }
        }
    }

    .overlay-gribouillis {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: calc(100% / 3);
        background-image: url("/assets/images/overlay/gribouillis.png");
        background-size: cover;
        pointer-events: none;
        z-index: -1;
    }
}
