.tool-choice {
  &_container {
    &.visible {
      right: 30px;
      opacity: 1;
      transition: 2s ease-in-out all;
      transition-delay: 1s;
    }
  }
  &__inner {
    ul {
      li {
        list-style: none;
        button {
          position: relative;
          width: 60px;
          height: 60px;
          cursor: pointer;
          border: none;
          transition: 0.8s ease-in all;
          &.scale {
            width: 70px;
            height: 70px;
          }
        }
      }
    }
  }
}
