//buttons global styles
.btn {
  &_no-text {
    padding: 0;
    .btn__label {
      position: absolute;
      top: 0;
      left: 0;
      pointer-events: none;
      text-indent: -9999px;
    }
  }
  &-primary {
    font-family: $font-button;
    font-size: 18px;
    position: relative;
    padding: 10px 24px;
    text-decoration: none;
    overflow: hidden;
    background-color: transparent;
    color: $color-black;
    cursor: pointer;

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translate(-100%, -50%);
      background-image: url("/assets/images/ui/cta/inside-atelier.png");
      background-repeat: round;
      z-index: -1;
      transition: 0.2s ease all;
    }

    &:hover {
      &:after {
        // left: 50%;
        transform: translate(0, -50%);
        transition: 0.2s ease all;
      }
    }
    span {
      padding: 5px 10px;
    }
  }

  &-about {
    font-family: $font-button;
    cursor: pointer;
    text-decoration: none;
    overflow: hidden;
    background-color: transparent;
    color: $color-black;
    font-size: 16px;
    padding: 8px 20px;
    border: 1px solid $color-black;
    &.disabled {
      pointer-events: none;
      cursor: initial;
    }
  }

  &-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    box-shadow: -1px 1px .2em rgba($color-black, 0.5);
    transition: 0.2s ease-in all;
  }
}

// link global link
.link {
  &-primary {
    position: relative;
    padding: 10px 12px;
    text-decoration: none;
    color: $color-black;
    overflow: hidden;

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translate(-100%, -50%);
      background-image: url("/assets/images/ui/cta/inside-atelier.png");
      background-repeat: round;
      z-index: -1;
      transition: 0.2s ease all;
    }

    &:hover {
      &:after {
        // left: 50%;
        transform: translate(0, -50%);
        transition: 0.2s ease all;
      }
    }

    &.nodispo {
      cursor: initial;
      pointer-events: none;
      span {
        background-color: $color-grey-100;
      }
    }

    span {
      padding: 5px 10px;
      border: 1px solid $color-black;
    }
  }

  &-before {
    padding: 10px 15px;
    border: 1px solid $color-black;
    text-decoration: none;
    span {
      color: $color-black;
    }
  }

  &-discover {
    position: relative;
    background-color: $color-primary;
    width: 120px;
    padding: 10px;
    border-radius: 20px;
    a {
      text-decoration: none;
      span {
        color: $color-white;
      }
    }
  }
}
