#cursor {
    height: 40px;
    width: 40px;

    position: absolute;

    top: 12.5px;
    left: 10px;

    pointer-events: none;

    // cursor: none;

    transition: 0s all;

    background-size: contain;

    z-index: 100;

    #cursor-img {
        width: 100%;
        position: absolute;
        transition: 0s all;
    }
}

#carre-cursor {
    height: 30px;
    width: 30px;

    background-color: aquamarine;

    pointer-events: none;

    opacity: 0;

    position: absolute;

    transition: 0.3s ease-in-out opacity;

    pointer-events: none;
}