#cursor {
    height: 40px;
    width: 40px;

    position: absolute;

    pointer-events: none;

    cursor: none;

    transition: none;

    background-size: contain;

    z-index: 100;

    background-image: url("/assets/images/ui/pictos-ux/curseur_01.png");

    &.cursor-dragging {
        background-image: url("/assets/images/ui/pictos-ux/curseur_02.png");
    }
}

#carre-cursor {
    height: 30px;
    width: 30px;

    background-color: aquamarine;

    pointer-events: none;

    opacity: 0;

    position: absolute;

    transition: 0.3s ease-in-out opacity;

    pointer-events: none;
}