@import "_font-awesome/_variables";

$own-font-path: "/assets/fonts";

@font-face {
    font-family: "Cirka";
    font-weight: normal;
    font-style: normal;
    src: url("/assets/fonts/cirka-regular.woff2") format("woff2"),
        url("/assets/fonts/cirka-regular.woff") format("woff");
}

@font-face {
    font-family: "CirkaBold";
    font-weight: bold;
    font-style: normal;
    src: url("/assets/fonts/cirka-bold.woff2") format("woff2"), url("/assets/fonts/cirka-bold.woff") format("woff");
}

@font-face {
    font-family: "CirkaLigth";
    font-weight: lighter;
    font-style: normal;
    src: url("/assets/fonts/cirka-light.woff2") format("woff2"), url("/assets/fonts/cirka-light.woff") format("woff");
}



@font-face {
    font-family: 'OpenSansSemiBoldItalic';
    src: url('/assets/fonts/opensans-semibolditalic.woff2') format('woff2'),
         url('/assets/fonts/opensans-semibolditalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansSemiBold';
    src: url('/assets/fonts/opensans-semibold.woff2') format('woff2'),
         url('/assets/fonts/opensans-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansRegular';
    src: url('/assets/fonts/opensans-regular.woff2') format('woff2'),
         url('/assets/fonts/opensans-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansLightItalic';
    src: url('/assets/fonts/opensans-lightitalic.woff2') format('woff2'),
         url('/assets/fonts/opensans-lightitalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansLight';
    src: url('/assets/fonts/opensans-light.woff2') format('woff2'),
         url('/assets/fonts/opensans-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansItalic';
    src: url('/assets/fonts/opensans-italic.woff2') format('woff2'),
         url('/assets/fonts/opensans-italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansExtraboldItalic';
    src: url('/assets/fonts/opensans-extrabolditalic.woff2') format('woff2'),
         url('/assets/fonts/opensans-extrabolditalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansExtraBold';
    src: url('/assets/fonts/opensans-extrabold.woff2') format('woff2'),
         url('/assets/fonts/opensans-extrabold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansBoldItalic';
    src: url('/assets/fonts/opensans-bolditalic.woff2') format('woff2'),
         url('/assets/fonts/opensans-bolditalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSansBold';
    src: url('/assets/fonts/opensans-bold.woff2') format('woff2'),
         url('/assets/fonts/opensans-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: "Font Awesome 5 Pro";
    font-style: normal;
    font-weight: 400;
    font-display: $fa-font-display;
    src: url("/assets/fonts/fa-regular-400.woff2") format("woff2"),
        url("/assets/fonts/fa-regular-400.woff") format("woff"),
        url("/assets/fonts/fa-regular-400.ttf") format("truetype");
}

.far,
.fa-regular {
    font-family: "Font Awesome 5 Pro";
    font-weight: 400;
}

@font-face {
    font-family: "Font Awesome 5 Pro";
    font-style: normal;
    font-weight: 300;
    font-display: $fa-font-display;
    src: url("/assets/fonts/fa-light-300.woff2") format("woff2"), url("/assets/fonts/fa-light-300.woff") format("woff"),
        url("/assets/fonts/fa-light-300.ttf") format("truetype");
}

.fal,
.fa-light {
    font-family: "Font Awesome 5 Pro";
    font-weight: 300;
}

@font-face {
    font-family: "Font Awesome 5 Pro";
    font-style: normal;
    font-weight: 900;
    font-display: $fa-font-display;
    src: url("/assets/fonts/fa-solid-900.woff2") format("woff2"), url("/assets/fonts/fa-solid-900.woff") format("woff"),
        url("/assets/fonts/fa-solid-900.ttf") format("truetype");
}

.fas,
.fa-solid {
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
}

@font-face {
    font-family: "Font Awesome 5 Pro";
    font-style: normal;
    font-weight: 300;
    font-display: $fa-font-display;
    src: url("/assets/fonts/fa-light-300.woff2") format("woff2"), url("/assets/fonts/fa-light-300.woff") format("woff"),
        url("/assets/fonts/fa-light-300.ttf") format("truetype");
}

.fal,
.fa-light {
    font-family: "Font Awesome 5 Pro";
    font-weight: 300;
}

@font-face {
    font-family: "Font Awesome 5 Brands";
    font-style: normal;
    font-weight: 400;
    font-display: $fa-font-display;
    src: url("/assets/fonts/fa-brands-400.woff2") format("woff2"),
        url("/assets/fonts/fa-brands-400.woff") format("woff"),
        url("/assets/fonts/fa-brands-400.ttf") format("truetype");
}

// .fab,
// .fa-brands {
//     font-family: "Font Awesome 5 Brands";
//     font-weight: 400;
// }
// @each $name, $icon in $fa-brand-icons {
//     .#{$fa-css-prefix}-#{$name}:before {
//         content: fa-content($icon);
//     }
// }
