@import "./mandatory";

.picto-ux {
  position: absolute;
  width: 120px;
  height: 120px;
  pointer-events: none;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.8s ease-in-out opacity;
}

.click-points {
  width: 280px;
  height: 280px;
}

.drag-and-drop-color-picker {
  width: 200px;
  height: 200px;
}

.trace-fixe {
  width: 230px;
  height: 230px;
  transform: translate(-50%, -50%) ;
}

.trace {
  width: 230px;
  height: 230px;
}

.scroll {
  width: 230px;
  height: 230px;
}
