.defs-svg {
    visibility: hidden;
    display: block;
    height: 0;
    width: 0;
    overflow: hidden; 
}
  
svg {
    &.svg-icon {
        display: block;
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }
}


