// COLORS
$black: #000000;
$white: #ffffff;
$dark-grey: #111111;
$light-grey: #7c7c7c;
$grey-border: #d8d8d8;
$pink: #ca10d7;
$blue: #37e5b4;

$color-text: white;
$color-body-text: white;

// FONTS
$extrabold: 800;
$bold: 700;
$semibold: 600;
$regular: 400;
$light: 300;
$normal: 100;

// RESPONSIVE
$bp-smartphone-small: 320px;
$bp-smartphone: 375px;
$bp-smartphone-medium: 410px;
$bp-smartphone-large: 480px;
$bp-smartphone-xlarge: 640px;
$bp-tablet: 768px;
$bp-tablet-exlcude: 769px;
$bp-tablet-large: 840px;
$bp-desk-small: 960px;
$bp-desk-medium: 1120px;
$bp-desk-large: 1200px;
$bp-desk-large-plus: 1340px;
$bp-desk-large-intermediaire: 1440px;
$bp-desk-xlarge: 1600px;
$bp-desk-xxlarge: 1800px;
$bp-desk-4k-small: 2220px;
$bp-desk-4k-medium: 2620px;
$bp-desk-4k-large: 3040px;
$bp-desk-4k-xlarge: 3220px;
$bp-desk-4k-xxlarge: 3620px;

//FONTS
$font-body: "Raleway";
$font-body-wf: "Raleway";

$font-title: "Raleway";
$font-title-wf: "Raleway";

$font-title-alt: "Raleway";
$font-title-alt-wf: "Arial";

$font: "Raleway";
$font-button: "Raleway";

$font-icon: "Font Awesome 5 Pro";
