// COLORS
$color-black: #000000;
$color-white: #ffffff;
$color-primary: #254EDA;
$color-primary-50: #728BD7;
$color-grey-50: #F5F5F5; 
$color-grey-100: #C4C4C4;

$color-text: $color-black;
$color-body-text: $color-black;

// FONTS
$ft-extrabold: 800;
$ft-bold: 700;
$ft-semibold: 600;
$ft-regular: 400;
$ft-light: 300;
$ft-normal: 100;

// RESPONSIVE
$bp-smartphone-small: 320px;
$bp-smartphone: 375px;
$bp-smartphone-medium: 410px;
$bp-smartphone-large: 480px;
$bp-smartphone-xlarge: 640px;
$bp-tablet: 768px;
$bp-tablet-exlcude: 769px;
$bp-tablet-large: 840px;
$bp-desk-small: 960px;
$bp-desk-medium: 1120px;
$bp-desk-large: 1200px;
$bp-desk-large-plus: 1340px;
$bp-desk-large-intermediaire: 1440px;
$bp-desk-xlarge: 1600px;
$bp-desk-xxlarge: 1800px;
$bp-desk-4k-small: 2220px;
$bp-desk-4k-medium: 2620px;
$bp-desk-4k-large: 3040px;
$bp-desk-4k-xlarge: 3220px;
$bp-desk-4k-xxlarge: 3620px;

//FONTS
$font-body: "Arial";
$font-body-wf: "Open Sans";

$font-title: "Arial";
$font-title-wf: "Cirka";

$font-title-alt: "Arial";
$font-title-alt-wf: "Open Sans";

$font: "Arial";
$font-button: "Open Sans";

$font-icon: "Font Awesome 5 Pro";
